opportunity-radar-subscribe-bot.json
{
  "name": "Opportunity Radar — Subscribe Bot",
  "nodes": [
    {"id":"3372d7a8","name":"On Telegram Message","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[0,96],"parameters":{"updates":["message"]},"webhookId":"029b5c97-5f60-4cd5-bb31-effb61f0f0f1"},
    {"id":"18c387ae","name":"Find Subscriber","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[224,96],"parameters":{"resource":"row","operation":"get","dataTableId":{"__rl":true,"mode":"id","value":"YOUR_DATA_TABLE_ID"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('On Telegram Message').item.json.message.chat.id }}"}]},"returnAll":true},"alwaysOutputData":true},
    {"id":"cfbd46bd","name":"Check If Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,96],"parameters":{"jsCode":"const rows = $input.all();\nconst match = rows.find(r => r.json && r.json.id !== undefined && r.json.id !== null);\nif (match) {\n  return [{ json: { found: true, name: match.json.name, email: match.json.email } }];\n}\nreturn [{ json: { found: false } }];"},"alwaysOutputData":true},
    {"id":"afd431e0","name":"Already Subscribed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"has-row","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},
    {"id":"586069e0","name":"Tell Already Subscribed","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,0],"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $('On Telegram Message').item.json.message.chat.id }}","text":"=✅ Hi {{ $json.name }}, you're already subscribed to Opportunity Radar AI!\n\nYour daily digest is sent automatically every weekday (Mon–Fri) at 8:00 AM on Telegram and email. Just sit back and watch the opportunities roll in! 🚀","additionalFields":{"appendAttribution":false}}},
    {"id":"6db9c0eb","name":"Ask Name And Email","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,192],"parameters":{"resource":"message","operation":"sendAndWait","chatId":"={{ $('On Telegram Message').item.json.message.chat.id }}","message":"👋 Welcome to Opportunity Radar AI!\n\nPlease share your details to subscribe to the daily business opportunity digest.","responseType":"customForm","defineForm":"fields","formFields":{"values":[{"fieldName":"name","fieldLabel":"Your Name","fieldType":"text","requiredField":true},{"fieldName":"email","fieldLabel":"Your Email Address","fieldType":"email","requiredField":true}]},"options":{"appendAttribution":false}}},
    {"id":"cedb5e22","name":"Save Subscriber","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,192],"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"mode":"id","value":"YOUR_GOOGLE_SHEET_ID"},"sheetName":{"__rl":true,"mode":"name","value":"Subscribers"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.data['Your Name'] }}","email":"={{ $json.data['Your Email Address'] }}","chat_id":"={{ $('On Telegram Message').item.json.message.chat.id }}","subscribed_at":"={{ $now.toISO() }}"}}}},
    {"id":"48965c28","name":"Send Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,192],"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $('On Telegram Message').item.json.message.chat.id }}","text":"=🎉 You're subscribed, {{ $('Ask Name And Email').item.json.data['Your Name'] }}!\n\nYou'll receive the Opportunity Radar AI digest every weekday at 8:00 AM on Telegram and by email at {{ $('Ask Name And Email').item.json.data['Your Email Address'] }}. 🚀","additionalFields":{"appendAttribution":false}}}
  ],
  "connections": {
    "On Telegram Message": {"main": [[{"node": "Find Subscriber", "type": "main", "index": 0}]]},
    "Find Subscriber": {"main": [[{"node": "Check If Found", "type": "main", "index": 0}]]},
    "Check If Found": {"main": [[{"node": "Already Subscribed?", "type": "main", "index": 0}]]},
    "Already Subscribed?": {"main": [[{"node": "Tell Already Subscribed", "type": "main", "index": 0}], [{"node": "Ask Name And Email", "type": "main", "index": 0}]]},
    "Ask Name And Email": {"main": [[{"node": "Save Subscriber", "type": "main", "index": 0}]]},
    "Save Subscriber": {"main": [[{"node": "Send Confirmation", "type": "main", "index": 0}]]}
  }
}
